# Python
__pycache__/
*.pyc

# Testing coverage reports
htmlcov/
.coverage
coverage.xml
.pytest_cache/

# Environment
.env

# Data and artifacts
data/
artifacts/

# Virtual environments
.venv/

# Local development
local/

# macOS
.DS_Store

# IDE
.vscode/
.idea/
*.swp
*.swo
